.profile-menu {


    display: flex;
    justify-content: flex-end;

    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    text-align: end;
    padding: 10px;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 6rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}