* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Poppins;
  /* background-image: url(Images/Hero-Gradient.png);
  background-attachment: scroll;
  background-repeat: no-repeat; */

}

.with-background {
  background-image: url('./Images/Hero-Gradient.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.all_cont img {
  max-width: 50px;


  cursor: pointer;
}



.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000000;
}

.all_cont p {
  color: #000000;

  text-decoration: none;
  /* letter-spacing: 0.15em; */

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.all_cont p:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.all_cont p:hover:after {
  width: 100%;
  left: 0;
}




.all_cont {
  display: flex;
  align-items: center;

}

.links-cont {
  display: flex;



}


.links-cont p {

  margin: 0 4rem;
  cursor: pointer;
  text-transform: capitalize;
}

.button {
  display: flex;

  margin-right: 30px;
  align-items: center;

}




.button p {
  cursor: pointer;
  margin: 0 1rem;
}

.header-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  cursor: pointer;
}

.header-menu svg {
  cursor: pointer;
}

.header-menu_container {
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
  flex-direction: column;
  background-color: #B32346;
  text-align: end;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header-menu_container p {
  margin: 1rem 0;
}

.header-menu_button {
  display: none;
}



@media screen and (max-width: 1050px) {
  .links-cont {
    display: none;
  }

  .header-menu {
    display: flex;
    padding: 20px;
  }

  body {
    background-size: 500px;

  }

}



@media screen and (max-width: 550px) {
  .with-background {
    background-image: none;
  }

  body {
    /* background-image: none; */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 8, 44, 1) 0%, rgba(71, 14, 49, 1) 0%, rgba(92, 18, 53, 1) 0%, rgba(122, 24, 59, 1) 36%, rgba(179, 35, 70, 1) 100%, rgba(0, 212, 255, 1) 100%);
    background-size: 50rem 20rem;
    background-repeat: no-repeat;

  }

  .bar {
    padding: 2rem;
  }

  .blood-img {
    width: 150px;
    margin-top: 25px;
  }

  .button {
    display: none;
  }

  .header-menu_button {
    display: block;
  }


}